body {
	background-color: #202020;
	color: whitesmoke;
}

#headline {
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.nabar {
	flex-direction: column;
	justify-content: center;
}